In [1]:
pwd

'/Users/kelly/metis_v3/Project_2'

In [2]:
import pickle

In [3]:
with open('predicted_wind.pickle','rb') as read_file:
    predicted_wind = pickle.load(read_file)

In [4]:
predicted_wind.head()

,State,year,mw_year_0,mw_year_1,mw_year_2,mw_0_pred,mw_+1_pred,mw_+2_pred,mw_+3_pred
2,Alabama,2001,0.0,0.0,0.0,31.630484,31.630484,76.031333,126.93392
3,Alabama,2002,0.0,0.0,0.0,31.630484,31.630484,76.031333,126.93392
4,Alabama,2003,0.0,0.0,0.0,31.630484,31.630484,76.031333,126.93392
5,Alabama,2004,0.0,0.0,0.0,31.630484,31.630484,76.031333,126.93392
6,Alabama,2005,0.0,0.0,0.0,31.630484,31.630484,76.031333,126.93392

In [5]:
with open('state_area.pickle','rb') as read_file:
    state_area = pickle.load(read_file)

In [6]:
state_area

{'Alabama': '52,420',
 'Alaska': '665,384',
 'Arizona': '113,990',
 'Arkansas': '53,179',
 'California': '163,695',
 'Colorado': '104,094',
 'Connecticut': '5,543',
 'Delaware': '2,489',
 'District of Columbia': '68',
 'Florida': '65,758',
 'Georgia': '59,425',
 'Hawaii': '10,932',
 'Idaho': '83,569',
 'Illinois': '57,914',
 'Indiana': '36,420',
 'Iowa': '56,273',
 'Kansas': '82,278',
 'Kentucky': '40,408',
 'Louisiana': '52,378',
 'Maine': '35,380',
 'Maryland': '12,406',
 'Massachusetts': '10,554',
 'Michigan': '96,714',
 'Minnesota': '86,936',
 'Mississippi': '48,432',
 'Missouri': '69,707',
 'Montana': '147,040',
 'Nebraska': '77,348',
 'Nevada': '110,572',
 'New Hampshire': '9,349',
 'New Jersey': '8,723',
 'New Mexico': '121,590',
 'New York': '54,555',
 'North Carolina': '53,819',
 'North Dakota': '70,698',
 'Ohio': '44,826',
 'Oklahoma': '69,899',
 'Oregon': '98,379',
 'Pennsylvania': '46,054',
 'Rhode Island': '1,545',
 'South Carolina': '32,020',
 'South Dakota': '77,116',
 'Tennessee': '42,144',
 'Texas': '268,596',
 'Utah': '84,897',
 'Vermont': '9,616',
 'Virginia': '42,775',
 'Washington': '71,298',
 'West Virginia': '24,230',
 'Wisconsin': '65,496'}

In [7]:
with open('median_income.pickle','rb') as read_file:
    median_income = pickle.load(read_file)

In [10]:
median_income.rename(columns = {'value':'median_income'})

         State  year  median_income
2      Alabama  2001        35160.0
3      Alabama  2002        37603.0
4      Alabama  2003        37255.0
5      Alabama  2004        36629.0
6      Alabama  2005        37150.0
7      Alabama  2006        37952.0
8      Alabama  2007        42212.0
9      Alabama  2008        44476.0
10     Alabama  2009        39980.0
11     Alabama  2010        40933.0
12     Alabama  2011        42590.0
13     Alabama  2012        43464.0
14     Alabama  2013        41381.0
15     Alabama  2014        42278.0
16     Alabama  2015        44509.0
17     Alabama  2016        47221.0
21      Alaska  2001        57363.0
22      Alaska  2002        52774.0
23      Alaska  2003        51837.0
24      Alaska  2004        55063.0
25      Alaska  2005        55891.0
26      Alaska  2006        56418.0
27      Alaska  2007        62993.0
28      Alaska  2008        63989.0
29      Alaska  2009        61604.0
30      Alaska  2010        57848.0
31      Alaska  2011        57431.0
32      Alaska  2012        63648.0
33      Alaska  2013        61137.0
34      Alaska  2014        67629.0
..         ...   ...            ...
954  Wisconsin  2003        46269.0
955  Wisconsin  2004        45732.0
956  Wisconsin  2005        44650.0
957  Wisconsin  2006        51692.0
958  Wisconsin  2007        51277.0
959  Wisconsin  2008        51200.0
960  Wisconsin  2009        51237.0
961  Wisconsin  2010        50351.0
962  Wisconsin  2011        52058.0
963  Wisconsin  2012        53079.0
964  Wisconsin  2013        55258.0
965  Wisconsin  2014        58080.0
966  Wisconsin  2015        55425.0
967  Wisconsin  2016        59817.0
971    Wyoming  2001        39719.0
972    Wyoming  2002        39763.0
973    Wyoming  2003        42555.0
974    Wyoming  2004        45397.0
975    Wyoming  2005        44718.0
976    Wyoming  2006        47041.0
977    Wyoming  2007        48744.0
978    Wyoming  2008        53337.0
979    Wyoming  2009        52470.0
980    Wyoming  2010        52201.0
981    Wyoming  2011        54509.0
982    Wyoming  2012        57512.0
983    Wyoming  2013        55700.0
984    Wyoming  2014        55690.0
985    Wyoming  2015        60925.0
986    Wyoming  2016        57829.0

[832 rows x 3 columns]

In [11]:
with open('party_affiliation.pickle','rb') as read_file:
    state_parties = pickle.load(read_file)

In [16]:
state_parties

{'Alaska': {'Democratic': '116,454', 'Republican': '163,387'},
 'Alabama': {'Democratic': '729,547', 'Republican': '1,318,255'},
 'Arizona': {'Democratic': '1,161,167', 'Republican': '1,252,401'},
 'Arkansas': {'Democratic': '380,494', 'Republican': '684,872'},
 'California': {'Democratic': '8,753,788', 'Republican': '4,483,810'},
 'Colorado': {'Democratic': '1,338,870', 'Republican': '1,202,484'},
 'Connecticut': {'Democratic': '897,572', 'Republican': '673,215'},
 'Delaware': {'Democratic': '235,603', 'Republican': '185,127'},
 'Dist. of Col.': {'Democratic': '282,830', 'Republican': '12,723'},
 'Florida': {'Democratic': '4,504,975 ', 'Republican': '4,617,886 '},
 'Georgia': {'Democratic': '1,877,963', 'Republican': '2,089,104'},
 'Hawaii': {'Democratic': '266,891', 'Republican': '128,847'},
 'Idaho': {'Democratic': '189,765', 'Republican': '409,055'},
 'Illinois': {'Democratic': '3,090,729', 'Republican': '2,146,015'},
 'Indiana': {'Democratic': '1,033,126', 'Republican': '1,557,286'},
 'Iowa': {'Democratic': '653,669', 'Republican': '800,983'},
 'Kansas': {'Democratic': '427,005', 'Republican': '671,018'},
 'Kentucky': {'Democratic': '628,854', 'Republican': '1,202,971'},
 'Louisiana': {'Democratic': '780,154', 'Republican': '1,178,638'},
 'Maine': {'Democratic': '357,735', 'Republican': '335,593'},
 'Maryland': {'Democratic': '1,677,928', 'Republican': '943,169'},
 'Massachusetts': {'Democratic': '1,995,196', 'Republican': '1,090,893'},
 'Michigan': {'Democratic': '2,268,839', 'Republican': '2,279,543'},
 'Minnesota': {'Democratic': '1,367,716', 'Republican': '1,322,951'},
 'Mississippi': {'Democratic': '485,131', 'Republican': '700,714'},
 'Missouri': {'Democratic': '1,071,068', 'Republican': '1,594,511'},
 'Montana': {'Democratic': '177,709', 'Republican': '279,240'},
 'Nebraska': {'Democratic': '284,494', 'Republican': '495,961'},
 'CD-1': {'Democratic': '100,126', 'Republican': '158,626'},
 'CD-2': {'Democratic': '131,030', 'Republican': '137,564'},
 'CD-3': {'Democratic': '53,290', 'Republican': '199,657'},
 'Nevada': {'Democratic': '539,260', 'Republican': '512,058'},
 'New Hampshire': {'Democratic': '348,526', 'Republican': '345,790'},
 'New Jersey': {'Democratic': '2,148,278', 'Republican': '1,601,933'},
 'New Mexico': {'Democratic': '385,234', 'Republican': '319,666'},
 'New York': {'Democratic': '4,556,124', 'Republican': '2,819,534'},
 'North Carolina': {'Democratic': '2,189,316', 'Republican': '2,362,631'},
 'North Dakota': {'Democratic': '93,758', 'Republican': '216,794'},
 'Ohio': {'Democratic': '2,394,164', 'Republican': '2,841,005'},
 'Oklahoma': {'Democratic': '420,375', 'Republican': '949,136'},
 'Oregon': {'Democratic': '1,002,106', 'Republican': '782,403'},
 'Pennsylvania': {'Democratic': '2,926,441', 'Republican': '2,970,733'},
 'Rhode Island': {'Democratic': '252,525', 'Republican': '180,543'},
 'South Carolina': {'Democratic': '855,373', 'Republican': '1,155,389'},
 'South Dakota': {'Democratic': '117,458', 'Republican': '227,721'},
 'Tennessee': {'Democratic': '870,695', 'Republican': '1,522,925'},
 'Texas': {'Democratic': '3,877,868', 'Republican': '4,685,047'},
 'Utah': {'Democratic': '310,676', 'Republican': '515,231'},
 'Vermont': {'Democratic': '178,573', 'Republican': '95,369'},
 'Virginia': {'Democratic': '1,981,473', 'Republican': '1,769,443'},
 'Washington': {'Democratic': '1,742,718', 'Republican': '1,221,747'},
 'West Virginia': {'Democratic': '188,794', 'Republican': '489,371'},
 'Wisconsin': {'Democratic': '1,382,536', 'Republican': '1,405,284'},
 'Wyoming': {'Democratic': '55,973', 'Republican': '174,419'}}